//nexus.17bdc.com/repository/npm-hosted/:_authToken=${NPM_NEXUS_TOKEN}
@shanbay:registry=https://nexus.17bdc.com/repository/npm-hosted/
//nexus.17bdc.com/repository/npm-hosted-community/:_authToken=${NPM_NEXUS_TOKEN}
@shanbay-community:registry=https://nexus.17bdc.com/repository/npm-hosted-community/
